# Copie este archivo como connection-local.properties y complete los valores.
# El archivo local esta ignorado por Git y nunca debe subirse.
db.host=IP_O_NOMBRE_DEL_SERVIDOR
db.port=3306
db.name=asociacion_comunal
db.user=USUARIO_MYSQL
db.password=CONTRASENA_MYSQL
db.parameters=serverTimezone=America/El_Salvador&useUnicode=true&characterEncoding=UTF-8
