API_PORT=8080
API_SHARED_SECRET=GENERAR_UN_SECRETO_ALEATORIO_DE_64_CARACTERES
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=asociacion_comunal
DB_USER=REEMPLAZAR_EN_EL_SERVIDOR
DB_PASSWORD=REEMPLAZAR_EN_EL_SERVIDOR
AUTH_ACCESS_TTL_MINUTES=15
AUTH_REFRESH_TTL_DAYS=30
